<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <div class="home start">
        <h1>Admin</h1>
        <a href="/">Login</a>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti obcaecati at quo a fugiat pariatur, vitae commodi neque nostrum quibusdam?</p>
    </div>
    <!-- script -->
    <script>
        const parseRes=JSON.parse(localStorage.getItem('data'))
        if(!parseRes){
            window.location.href="/"
        }
    </script>
</body>
</html>