<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <div class="home start">
        <h1>Admin</h1>
       <div>
            <%= collections%>
        </div>
    </div>
    <!-- script -->
    <script>
        
    </script>
</body>
</html>